version: 2

registries:
  # clas12maven: # FIXME: disabled, see <https://github.com/JeffersonLab/coatjava/issues/915>
  #   type: maven-repository
  #   url: https://clasweb.jlab.org/clas12maven
  groovy_jfrog:
    type: maven-repository
    url: https://groovy.jfrog.io/artifactory/plugins-release

updates:
  - package-ecosystem: "maven"
    directory: "/"
    cooldown:
      default-days: 14
    schedule:
      interval: "weekly"
    registries:
      # - clas12maven
      - groovy_jfrog
    groups:
      groovy:
        patterns:
          - "org.apache.groovy:groovy-*"
          - "org.codehaus.groovy:groovy-eclipse-batch"
  - package-ecosystem: "github-actions"
    directory: "/"
    cooldown:
      default-days: 14
    schedule:
      interval: "weekly"
